.body{
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
}

.navbar-brand{
    font-size: 30px !important;
    color:#fff !important;
}
.navbar{
    font-family: 'Poppins',sans-serif !important;
    background-color: #000000;
}
.nav-item{
padding-left: 5px;
}
.font-fam{
    font-family: 'Poppins',sans-serif !important;
}
.nav-link{
    font-size: 16px !important;
    /* padding-bottom: 10px; */
    color:#fff !important;
}
   
.nav-link:hover{
    font-size: 17px !important;
    color:#CD5888 !important;
    /* padding-bottom: 10px; */
}

.dropdown{
    background-color: #000000 !important;
}

.dropdown-menu{
    background-color:#000000 !important;
}

.dropdown-item{
    color:#fff;
    overflow: hidden;
}

.dropdown-item:hover{
    color:#CD5888;
    background-color:#000000 !important;
}

.navbar-toggler-icon{
    background-color: #fff !important;
    border-radius: 2px !important;
}
#banner{
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    overflow: hidden;
}

.h1-ban{
    margin-top: 250px;
    color:#fff;
    font-size: 55px;
}

.scroll1 {
    margin-top: 20px;
    color: #CD5888;
}

#aboutme{
    width: 100%;
    min-height: 100vh;
    background-color: #E9E8E8;
}

.h1-about{
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    color:black !important;
}
.h1-about::after,.h1-about::before{
    content: "";
    width: 70px;
    height: 2px;
    display: inline-block;
    background:#CD5888;
    margin: 4px 10px;
    margin-bottom: 10px;
}
.profile{
    width:200px;
    height:200px;
}
.mernpic{
    width:264px;
    height:75px;
}
.progress-bar
{
    background-color: #CD5888;
}

#skills{
    width: 100%;
    min-height: 40vh;
    background-color: #E9E8E8;
}

.icon {
    font-size: 60px;
    color: #262626;
    transition: color 0.3s ease, font-size 0.3s ease; 
}

.icon:hover {
    color: #CD5888;
    font-size: 70px; 
    cursor: pointer;
}
.col-xl-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px 2px;
}

#portfolio{
    width: 100%;
    min-height: 80vh;
    background-color: #E9E8E8;
}

.btn-color{
    background-color: #CD5888;
    color: #fff;
    font-weight: 500;
}

.btn-color:hover{
    background-color:#d8216d;
    color: #fff;
    font-weight: 500;
}



a{
    text-decoration: none;
    color:#CD5888;
}

a:hover{
    text-decoration: none;
    color:#d8216d;
}

#footer{
    width:100%;
    min-height: 50vh;
    background-color:#000000;
}

@keyframes blink {
    0% { opacity: 1; }
    30%{ opacity: 0.3; }
    50% { opacity: 0; }
    60% { opacity: 0.1; }
    75% { opacity: 0.5; }
    100% { opacity: 1; }
}
/* Apply the animation to the element with the "blink-text" class */
.blink-text {
    animation: blink 2s infinite; /* Infinite blinking animation */
}
.navbar-toggler-icon{
    background-color: #CD5888 !important;
}
#slider{
    width: 100%;
    min-height: 10vh;
}

.color1{
    background-color: black !important;;
}
.slider-content{
    width: 100%;
    min-height: 110vh;
}

.font-fam2{
    color:white;
    background-color: #00000083;
    font-family: 'Poppins',sans-serif;
}
.font-fam3{
    color:#d8216d;
    font-family: 'Poppins',sans-serif;
    font-size:25px;
}
#activities{
    background-color: #E9E8E8;
    width: 100%;
    /* min-height: 60vh; */
}

.radius{
    border-radius: 120px;
}

.pic-effect {
  overflow: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.pic-effect:hover {
    cursor: pointer;
    transform: scale(1.2);
}